/*
Error: Undefined mixin 'outer-container'.
        on line 19 of ./css/custom.scss, in `outer-container'
        from line 19 of ./css/custom.scss

14:   background-repeat: no-repeat;
15:   background-size: cover;
16:   padding-bottom: 8em;
17: 
18:   .hero-inner {
19:     @include outer-container;
20:     @include clearfix;
21:     color: $hero-color;
22:     margin: auto;
23:     padding: 3.5em;
24:     text-align: center;

Backtrace:
./css/custom.scss:19:in `outer-container'
./css/custom.scss:19
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:348:in `block in visit_mixin'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:98:in `with_mixin'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/listen-2.10.1/lib/listen/listener.rb:305:in `call'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/listen-2.10.1/lib/listen/listener.rb:305:in `_process_changes'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/listen-2.10.1/lib/listen/listener.rb:269:in `block in _wait_for_changes'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/listen-2.10.1/lib/listen/listener.rb:252:in `loop'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/listen-2.10.1/lib/listen/listener.rb:252:in `_wait_for_changes'
/Users/Jasen/.rvm/gems/ruby-2.2.0/gems/listen-2.10.1/lib/listen/listener.rb:341:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'outer-container'.\A         on line 19 of ./css/custom.scss, in `outer-container'\A         from line 19 of ./css/custom.scss\A \A 14:   background-repeat: no-repeat;\A 15:   background-size: cover;\A 16:   padding-bottom: 8em;\A 17: \A 18:   .hero-inner {\A 19:     @include outer-container;\A 20:     @include clearfix;\A 21:     color: $hero-color;\A 22:     margin: auto;\A 23:     padding: 3.5em;\A 24:     text-align: center;"; }
